.header__logo {
    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 40px;
            height: 40px;
            display: block;
            justify-content: center;
            text-align: center;
            background-color: #ff0000;
            margin-right: 10px;
            border-radius: 7px;

            svg {
                margin-top: 3px;
            }

        }


        span {
            font-size: 20px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 900;

            i {
                font-weight: 250;
            }
        }
    }
}

.header__menu {
    .menu {
        li {
            background-color: #1f1f1f;
            border: 1px solid var(--black100);

            a {
                font-size: 1rem;
                display: block;
                padding: 0.8rem 0.9rem;

                span {
                    display: inline-block;
                    vertical-align: 3px;
                    margin-left: 10px;
                    font-weight: 900;
                }

            }

            &:hover {
                background-color: #454545;
            }

        }
    }

    .keyword {
        padding: 8px;

        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: 5px 20px;
                border: 1px solid #2b2b2b;
                font-size: 0.8rem;
                border-radius: 40px;
                margin: 3px 2px;
                transition: all 0.3s;

                &:hover {
                    background-color: var(#505050);
                    color: var(--white);
                }
            }


            &.active a {
                background-color: var(--black100);
                color: var(--white);
            }
        }
    }
}

@media (max-width: 960px) {
    .header__logo {
        position: fixed;
        left: 0;
        top: 0;
    }
}